:root {
  --active-color: #404BBF;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}
.link {
  text-decoration: none;
}
/**----------------INDEX-------------**/

.hero-start {
  background-color: #2E2F42;
}
.hero-start-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #FFFFFF;

}
.hero-start-butoon {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #4D5AE5;
  cursor: pointer;
}

.hero-start-butoon:hover{
  background-color: #404BBF;
}

/**----------------INDEX-Benefits---------------**/
.benefits {
}
.benefits-title {
}
.benefits-list {
  list-style-type: none;
}
.benefits-list-item {
}
.benefits-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benefits-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/**---------------INDEX-PRODUCT--------------**/
.product {
}
.product-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
.product-list {
  list-style-type: none;
}
.product-list-item {
}
.product-list-img {
}

/**----------------TEAM---------------**/

.team {
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.team-list {
  list-style-type: none;
}
.team-list-img {
}
.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/**----------------HEADER-------------**/
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5 
}

.header-logo span {
  color: #2e2f42;
}

.list {
  list-style-type: none;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42
}

.header-menu-link:is(:hover, :focus) {
    color: var(--active-color);
}

.header-address {
  font-style: normal
}
.header-address-list {
  list-style-type: none;
}
.header-address-item {
}
.header-address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  
}

.header-address-link:is(:hover, :focus){
  color: var(--active-color);
}
/**----------------PORTFOLIO-HERO-------------**/
.hero {
}
.hero-menu {
}
.hero-menu-item {
  list-style-type: none
}
.hero-menu-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; 
  text-align: center;
  letter-spacing: 0.04em;
  color: #4D5AE5;
  cursor: pointer;

}

.hero-menu-button:hover{
  color: #FFFFFF;
  background: #404BBF;
  flex: none;
}

.hero-menu-button:is(:active, :focus){
  background-color: #4D5AE5;
  color: #FFFFFF;
  background: #4D5AE5;
  flex: none;
}

/**------------------PORTFOLIO-HERO-PRODUCTS---------------**/

.hero-products {
}
.hero-products-menu {
  list-style-type: none
}
.hero-products-item {
}
.hero-products-img {
}
.hero-products-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.hero-products-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hero-prod {
}

/**-----------FOOTER---------**/


.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #F4F4FD;
}

footer{
  background-color:#2E2F42 ;
}
.footer-logo span {
  color: #4d5ae5;
}
.footer-text {
    font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
}